@media screen and (max-widh: 480px){
    .caixa,  .principal, .conteudo-beneficios, .mapa-conteudo, .video
    {
        width: auto;
    }




body{
    
    font: 16px Arial, Helvetica, sans-serif;
} 


#menu{

    
    background:white; 
    font-weight: bold;
    
    
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    background: #b2d0e9
    
   
}

#conteudo{
    background:black;
    padding: 10px

}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    
    
}

nav {
    position: absolute;
    top: 90px;
    right: 50px;
   
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    

}

nav li ul {
    position: absolute;
    top: 25px;
    left: ;
    background-color: #0b0a0a;
    display: none;

}

nav a {
    text-transform: uppercase;
    color: #b2d0e9;
    font-weight: bold;
    font-style: 22px;
    text-decoration: none;
    
   

}


nav a:hover{
    color: #3c19c7;
    text-decoration: undeline;
}

.produtos{
    width: 1300px;
    margin: 0 auto;
    padding: 10px
}


.produtos li{
     display: inline-block;
     text-align: center;
     width: 30%;
     vertical-align: top;
     margin: 0.5% 0.5%;
     padding: 40px 2px;
     box-sizing: border-box;
     border: 2px solid #290952;
     border-radius: 10px;
     

}



.produtos li:active{
    border-color: #C77C19;
}


.produtos li:hover{
    border-color: blue;

}

.produtos h2{
    font-size: 40px;
    font-weight: bold;
   
}

.produto-descricao{
    font-size: 18px;
    font-weight: bold;
 }

.produto-descricao:hover{
    font-size: 20px;
    font-weight: bold;
    border-color: blue;
}


.produto-preco:hover{
    font-size: 35px;
    
}


.produto-preco{
      font-size: 22px;
      font-weight: bold;
      margin-top: 10px;

}

footer{
    background: url("logo.png");
    
    padding: 184px 2px;
    
    
}


